<h1><center>KTCS-Admin-page</center></h1>

<%= button_to 'See cars', '/cars/view', :method => :get %>
<%= button_to 'See members', '/admin/members', :method => :get %>

<% @makeArr.each do |most|%>


<h2>The most rented car is: <%=most['make']%> <%=most['model'] %> </h2>


<%end%>

<% @makeArr2.each do |least|%>
    <h2>The least rented car is: <%=least['make']%> <%=least['model'] %> </h2>
<%end%>

<h2>Cars that need oil service </h2>
<% if @cars_needing_maintenance.empty? %>
    None!
<% else %>
    <% @cars_needing_maintenance.each do |car|%>
        <%= car[:name] %>&nbsp;
        <%= button_to 'Repair', "/cars/repair_car/#{car[:vin]}", :method => :get %>
        <br>
    <% end %>

<% end %>