

<div style="display: block; margin: 0 auto;">
<h1>Parking</h1><TABLE> 
    <TH></TH>

    <TR>
        
        <TD><h3>Address</h3></TD>
        <TD><h3>Number of Spaces</h3></TD>
    
    </TR>
    <% @location.each do |loc| %>
    <TR>

    <% if isAdmin? %>
    <TD style="width:50vh;><%= link_to loc['address'], "/parking_locations/#{loc['address']}" %></TD>
        <!--<TD><%= loc['address'] %></TD>-->
        <TD><%= loc['num_spaces'] %></TD>
    <% else %>
        <TD><%= loc['address'] %>
         <TD><%= loc['num_spaces'] %></TD>
        
    <% end %>
        
   
    <TR>
 <% end %>
</TABLE></div>

<% if isAdmin? %>
    <hr><h2>Add new location</h2>
    <%= form_tag('/parking_locations/create', method: 'post') do %>
        <%= hidden_field_tag(:pl_id, rand(12 ** 12)) %>
        <%= label_tag(:address, "Address:") %>
        <br><%= text_field_tag(:address) %> 
        <br><%= label_tag(:num_spaces, "Number of spaces:") %>
        <br><%= text_field_tag(:num_spaces) %>
        <br><%= submit_tag("Submit") %>
    <% end %>
<% end %>