<TABLE> 
    <TH><h3>Parking</h3></TH>
    <TR>
        
        <TD><h3>Address</h3></TD>
        <TD><h3>Number of Spaces</h3></TD>
    
    </TR>
    <% @location.each do |loc| %>
    <TR>
    <% if isAdmin? %>
    <TD><%= link_to loc['address'], "/parking_locations/#{loc['address']}" %></TD>
        <!--<TD><%= loc['address'] %></TD>-->
        <TD><%= loc['num_spaces'] %></TD>
    <% else %>
        <TD><%= loc['address'] %>
         <TD><%= loc['num_spaces'] %></TD>
        
    <% end %>
        
   
    <TR>
 <% end %>
</TABLE>