<% if logged_in? %>
    <table><tr><td style="width:30%;">
        <h1 class='logo'>KTCS</h1>
    </td><td><h3>
        <%= link_to "Rent A Car!", "/" %>&nbsp;
        | <%= link_to "Locations", "/parking_locations" %>&nbsp;
        | <%= link_to "#{current_user['name']}", "/member/profile" %><% if isAdmin? %> (admin account)<% end %>&nbsp;
        <% if isAdmin? %>
        | <%= link_to "Fleet", '/cars/view' %>
        | <%= link_to "Admin Controls", '/admin' %>
        | <%= link_to "Reservations", '/admin/reservations' %>
        <% end %>
        | <%= link_to "Log out", "/logout" %>
    </h3></td></tr></table>
<% else %>
    <br>
    <%= link_to "KTCS", "/login" %>
<% end %>
<br><br>
